* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    // overflow: hidden;
}

.contenedor {
    background: linear-gradient(-90deg, #2c3e50, #bdc3c7, #ecf0f1);
    max-width: 40%;
    width: 100%;
    max-width: 50%;
    margin: auto;
    margin-top: 10px;
    ;
    // margin: 48px auto;
    border: 1px solid #ee5a24;
    border-radius: 15px;
    color: #ee5a24;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-family: "Quicksand", sans-serif;

    .toggle {
        position: absolute;
        top: 7px;
        width: 100px;
        height: 30px;
        font-size: 10px;
        line-height: 25px;
        text-align: center;
        border-top: 2px solid #ee5a24;
        border-bottom: 2px solid #ee5a24;
        cursor: pointer;
        transition: all 0.5s ease;

        span {
            letter-spacing: 1px;
        }

        &:hover {
            border-top: 2px solid #34495e;
            border-bottom: 2px solid #34495e;
        }
    }

    .formulario {
        display: none;
        padding: 40px;

        &:nth-child(2) {
            display: block;
        }

        h2 {
            margin: 0 0 28px 0;
            font-size: 20px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
        }

        .formtop {
            .top {
                padding-top: 10px;
            }
        }

        form {
            .campoIncorrecto {
                color: #ea2027;
                border-top: 1px solid #ea2027;
                border-bottom: 1px solid #ea2027;
            }

            .mError {
                color: #ea2027;
                font-size: 0.5rem;
                opacity: 1;
            }

            .mErrorInactivo {
                opacity: 0;
            }

            input[type="text"],
            input[type="password"],
            input[type="email"],
            input[type="tel"],
            select {
                outline: none;
                display: block;
                width: 100%;
                padding: 10px 15px;
                margin: 0 0 20px 0;
                color: #34495e;
                border: none;
                box-shadow: 0px 10px 10px 3px #3d3d3d;
                border-radius: 2px;
                border-bottom: 4px solid #34495e;
                box-sizing: border-box;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                transition: all 0.5s ease;

                &:focus {
                    // color: #FFF;
                    // background: #EE5A24;
                    border-bottom: 4px solid #ee5a24;
                }
            }

            button[type="submit"] {
                background: #34495e;
                color: #ee5a24;
                width: 100%;
                border: 1px solid #ee5a24;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 10px 0;
                font-size: 16px;
                font-weight: normal;
                font-family: Roboto;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all 0.5s ease;

                &:hover {
                    background: #ee5a24;
                    color: #fff;
                }
            }
        }

        h6 {
            .visible {
                opacity: 0;
            }
        }

    }

    .reset-password {
        width: 100%;
        padding: 15px 0;
        text-align: left;

        a {
            color: #ee5a24;
            text-decoration: none;
            font-size: 12px;
            position: absolute;
            bottom: 7px;
            // right: 7px;
            width: 100px;
            height: 30px;
            font-size: 10px;
            line-height: 25px;
            text-align: center;
            border-top: 2px solid #ee5a24;
            border-bottom: 2px solid #ee5a24;
            cursor: pointer;
            transition: all 0.5s ease;

            span {
                letter-spacing: 1px;
            }

            &:hover {
                border-top: 2px solid #34495e;
                border-bottom: 2px solid #34495e;
            }
        }
    }
}

.container {
    .correcto {
        max-width: 50%;
        width: 100%;
        margin: auto;
        border-top: 5px solid #4cd137;
        border-bottom: 5px solid #4cd137;
        color: #4cd137;
        text-align: center;
    }

    .incorrecto {
        max-width: 50%;
        width: 100%;
        margin: auto;
        text-align: center;
        border-top: 5px solid #ea2027;
        border-bottom: 5px solid #ea2027;
        color: #ea2027;
    }
}

.styleModal {
    background: linear-gradient(-90deg, #2c3e50, #bdc3c7, #ecf0f1);
    border: 1px solid #ee5a24;
    border-radius: 15px;
    color: #ee5a24;
}